@import "_setup.scss";

    *{
        font-family:'Ubuntu', sans-serif;
        margin: 0;
        padding: 0;
    }

    main{
        height: 100vh;
        width: 100%;
    }
    
    .wrapper{
        background-image: url("../assets/hypnotize.png");
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;  
        border: 2px solid black;
        border-radius: 10px 10px;
        width: 80%;
        height: 100vh;
    }

    button{
        border: 1px solid black;
        padding: 15px 30px;
        text-transform: uppercase;
        border-radius: 5px 5px;
    }

    .shuffle{
        margin-top: 30px;
    }

    .card-container{
        height: 200px;
        position: relative;
        width: 80%;
    }

    .card-stack {
        position: absolute;
        transition: all 1s cubic-bezier(0.68,-.55,.265,1.55);

        width: 140px;
  
        perspective: 1000;
        -ms-transform: perspective(1000px);
        -moz-transform: perspective(1000px);
        -ms-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        bottom: 0;
        // margin: 30px 0 15px 15px;
    }
    
    .card-stack.ani0 {
        right: 100%;
        bottom: 100%;
    }
    
    .card-stack.ani1 {
        right: 83.34%;
        bottom: 100%;
    }
    
    .card-stack.ani2 {
        right: 66.67%;
        bottom: 100%;
    }
    
    .card-stack.ani3 {
        right: 50%;
       bottom: 100%;
    }
    
    .card-stack.ani4 {
        right: 33.34%;
        bottom: 100%;
    }
    
    .card-stack.ani5 {
        right: 16.67%;
        bottom: 100%;
    }
    
    .card-stack.ani6 {
        right: 0;
        bottom: 100%;
    }
    
    .card-stack.ani7 {
        right: 100%;
        bottom: 0;
    }

    .card-stack.ani8 {
        right: 83.34%;
        bottom: 0;
    }
    
    .card-stack.ani9 {
        right: 66.67%;
        bottom: 0;
    }

    .card-stack.ani10 {
        right: 33.34%;
        bottom: 0;
    }

    .card-stack.ani11 {
        right: 16.67%;
        bottom: 0;
    }

    .card-stack.ani12 {
        right: 0;
        bottom: 0;
    }

    .card-stack.ani13 {
        right: 50%;
        bottom: 0;
    }


// Positions for Shuffle

.card-stack.ani0 {
    right: 100%;
    bottom: 100%;
}

.card-stack.ani1 {
    right: 83.34%;
    bottom: 100%;
}

.card-stack.ani2 {
    right: 66.67%;
    bottom: 100%;
}

.card-stack.ani3 {
    right: 50%;
    bottom: 100%;
}

.card-stack.ani4 {
    right: 33.34%;
    bottom: 100%;
}

.card-stack.ani5 {
    right: 16.67%;
    bottom: 100%;
}

.card-stack.ani6 {
    right: 0;
    bottom: 100%;
}

.card-stack.ani7 {
    right: 100%;
    bottom: 0;
}

.card-stack.ani8 {
    right: 83.34%;
    bottom: 0;
}

.card-stack.ani9 {
    right: 66.67%;
    bottom: 0;
}

.card-stack.ani10 {
    right: 33.34%;
    bottom: 0;
}

.card-stack.ani11 {
    right: 16.67%;
    bottom: 0;
}

.card-stack.ani12 {
    right: 0;
    bottom: 0;
}

.card-stack.ani13 {
    right: 50%;
    bottom: 0;
}

    .initial-dialogue{
        text-transform: uppercase;
        font-weight: 400;
        font-size: 50px;
        margin: 0;
        padding: 0;
        position: absolute;
    }

    img{
        max-width: 100%;
    }

    .tabbed{
        background: red;
    }

    // Styling for Empty Divs
    .fortune-container,
    .dialogue{
        display: none;
    }

    // End Result of Tarot Reading
    .endresult{
        position:absolute;
        z-index: 99999000;
    }

/* Pulse Animation */
.pulse{
    animation-name: pulse;
    -webkit-animation-name: pulse;  

    animation-duration: 2.5s;   
    -webkit-animation-duration: 2.5s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

// @keyframes pulse {
//     0% {
//         transform: scale(0.9);
//         opacity: 0.7;       
//     }
//     50% {
//         transform: scale(1);
//         opacity: 1; 
//     }   
//     100% {
//         transform: scale(0.9);
//         opacity: 0.7;   
//     }           
// }

// @-webkit-keyframes pulse {
//     0% {
//         -webkit-transform: scale(0.95);
//         opacity: 0.7;       
//     }
//     50% {
//         -webkit-transform: scale(1);
//         opacity: 1; 
//     }   
//     100% {
//         -webkit-transform: scale(0.95);
//         opacity: 0.7;   
//     }           
// }
